<nz-table #table [nzData]="gatewayList">
    <thead>
        <tr>
            <th nzWidth="60px"></th>
            <th>Name</th>
            <th>IPv4</th>
            <th>Devices</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of table.data">
            <tr>
                <td
                    [nzExpand]="expandSet.has(data.uid)"
                    [nzShowExpand]="data.devices.length > 0"
                    (nzExpandChange)="onExpandChange(data.uid, $event)"
                ></td>
                <td>{{ data.name }}</td>
                <td>{{ data.ipv4 }}</td>
                <td>
                    <app-devices-status-cell
                        [devices]="data.devices"
                    ></app-devices-status-cell>
                </td>
                <td>
                    <a [routerLink]="'./' + data.uid">View</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure to delete this gateway?"
                        nzPopconfirmPlacement="bottom"
                        >Delete</a
                    >
                </td>
            </tr>
            <tr [nzExpand]="expandSet.has(data.uid)">
                <div class="pl-10">
                    <app-device-table
                        [deviceList]="data.devices"
                    ></app-device-table>
                </div>
            </tr>
        </ng-container>
    </tbody>
</nz-table>
