<div>
    <h2 nz-typography>Gateways</h2>

    <!-- Actions -->
    <a
        nz-button
        nzType="text"
        nzSize="large"
        (click)="requestToCreateNewGateway()"
    >
        <i nz-icon nzType="plus" class="text-blue-500"></i>
        Create
    </a>

    <nz-divider class="my-0"></nz-divider>

    <app-gateway-table
        [gatewayList]="(gateways$ | async) ?? []"
        [loading]="!!(loading$ | async)"
        (deleteRequested)="requestToDeleteGateway($event)"
    ></app-gateway-table>
</div>
