<nz-table
    #table
    [nzData]="deviceList"
    [nzShowPagination]="false"
    nzSize="middle"
    [nzBordered]="bordered"
    [nzTitle]="hasTitle ? 'Devices' : null"
    [nzLoading]="loading"
>
    <thead>
        <tr>
            <th>UID</th>
            <th>Vendor</th>
            <th>Created At</th>
            <th>Status</th>
            <th *ngIf="showActions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td>{{ data.uid }}</td>
            <td>{{ data.vendor }}</td>
            <td>{{ data.createdAt | date }}</td>
            <td>
                <nz-badge
                    [nzStatus]="
                        data.status === _statusEnum.Online ? 'success' : 'error'
                    "
                    [nzText]="
                        data.status === _statusEnum.Online
                            ? 'Online'
                            : 'Offline'
                    "
                ></nz-badge>
            </td>
            <td *ngIf="showActions">
                <a
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure to delete this device?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="deleteRequested.emit(data)"
                    >Delete</a
                >
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="editRequested.emit(data)">Edit</a>
            </td>
        </tr>
    </tbody>
</nz-table>
