<form
    nz-form
    [formGroup]="form!"
    (ngSubmit)="onSubmit()"
    class="flex flex-col h-full"
>
    <!-- Main content -->
    <div class="flex-grow">
        <div class="grid grid-cols-1 gap-2">
            <!-- Gateway name field -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
                    >Gateway name</nz-form-label
                >
                <nz-form-control
                    [nzXs]="24"
                    nzErrorTip="Gateway name can not be empty"
                >
                    <input
                        nz-input
                        formControlName="name"
                        placeholder="Gateway name"
                        id="name"
                    />
                </nz-form-control>
            </nz-form-item>

            <!-- IPv4 field -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ipv4"
                    >IPv4</nz-form-label
                >
                <nz-form-control [nzXs]="24" [nzErrorTip]="ipv4ErrorTpl">
                    <input
                        nz-input
                        formControlName="ipv4"
                        placeholder="192.168.1.1"
                        id="ipv4"
                        [mask]="'099.099.099.099'"
                        [dropSpecialCharacters]="false"
                    />
                    <ng-template #ipv4ErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')"
                            >IPv4 can not be empty</ng-container
                        >
                        <ng-container *ngIf="control.hasError('ipv4')"
                            >Please enter a valid IPv4 address</ng-container
                        >
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <nz-divider class="-mx-[24px] mb-[8px] w-auto"></nz-divider>

    <!-- Footer -->
    <div class="flex flex-row -mb-[16px] -ml-[16px]">
        <button
            nz-button
            nzType="primary"
            [nzLoading]="loading$ | async"
            class="mr-2"
        >
            Submit
        </button>
        <button
            nz-button
            type="button"
            (click)="close()"
            [disabled]="loading$ | async"
        >
            Cancel
        </button>
    </div>
</form>
