<!-- Breadcrub -->
<nz-breadcrumb class="mb-4">
    <nz-breadcrumb-item>
        <a [routerLink]="'../'">
            <i nz-icon nzType="gateway"></i>
            <span>Gateway list</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Gateway</nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Header -->
<h2 nz-typography class="mb-0">{{ gateway?.name }}</h2>

<div class="text-xs mb-4 text-gray-500">Gateway</div>

<!-- Gateway actions -->
<div class="flex flex-row">
    <a
        nz-button
        nzType="text"
        nzSize="large"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure to delete this gateway?"
        nzPopconfirmPlacement="right"
        (nzOnConfirm)="confirmDelete()"
    >
        <i nz-icon nzType="delete" class="text-blue-500"></i>
        Delete
    </a>
    <a nz-button nzType="text" nzSize="large" (click)="openEditGatewayForm()">
        <i nz-icon nzType="edit" class="text-blue-500"></i>
        Edit
    </a>
</div>

<nz-divider class="mt-0"></nz-divider>

<nz-descriptions nzTitle="Info">
    <nz-descriptions-item nzTitle="UID">{{
        gateway?.uid
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Name">{{
        gateway?.name
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="IPv4">{{
        gateway?.ipv4
    }}</nz-descriptions-item>
</nz-descriptions>

<nz-divider></nz-divider>

<!-- Devices section -->
<nz-card>
    <div class="font-bold text-base mb-2">
        Devices ({{ (gateway?.devices)!.length }})
    </div>
    <!-- Device actions -->
    <a nz-button nzType="text" nzSize="large" (click)="openCreateDeviceForm()">
        <i nz-icon nzType="plus" class="text-blue-500"></i>
        Create
    </a>

    <!-- <nz-divider class="mt-0"></nz-divider> -->

    <app-device-table
        [deviceList]="gateway?.devices ?? []"
        [bordered]="true"
        [hasTitle]="false"
    ></app-device-table>
</nz-card>
