<!-- Breadcrub -->
<nz-breadcrumb class="mb-4">
    <nz-breadcrumb-item>
        <a [routerLink]="'../'">
            <i nz-icon nzType="gateway"></i>
            <span>Gateway list</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Gateway</nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Header -->
<h2 nz-typography class="mb-0">
    {{ (gateway$ | async)?.name ?? (gatewayUid$ | async) }}
</h2>

<div class="text-xs mb-4 text-gray-500">Gateway</div>

<!-- Gateway actions -->
<div class="flex flex-row" *ngIf="gateway$ | async as gateway">
    <a
        nz-button
        nzType="text"
        nzSize="large"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure to delete this gateway?"
        nzPopconfirmPlacement="right"
        (nzOnConfirm)="confirmDelete()"
    >
        <i nz-icon nzType="delete" class="text-blue-500"></i>
        Delete
    </a>
    <a
        nz-button
        nzType="text"
        nzSize="large"
        (click)="requestToEditGateway(gateway)"
    >
        <i nz-icon nzType="edit" class="text-blue-500"></i>
        Edit
    </a>
</div>

<nz-divider class="mt-0"></nz-divider>

<div class="font-bold text-base mb-4">Info</div>

<nz-spin [nzSpinning]="!!(loading$ | async)">
    <nz-descriptions>
        <ng-container *ngIf="gateway$ | async as gateway">
            <nz-descriptions-item nzTitle="UID">{{
                gateway?.uid
            }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name">{{
                gateway?.name
            }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="IPv4">{{
                gateway?.ipv4
            }}</nz-descriptions-item>
        </ng-container>
    </nz-descriptions>
</nz-spin>

<nz-divider></nz-divider>

<!-- Devices section -->
<nz-card>
    <div class="font-bold text-base mb-2 flex flex-row">
        <span>Devices&nbsp;</span>
        <span *ngIf="gateway$ | async as gateway">
            ({{ gateway.devices.length }})
        </span>
        <span *ngIf="!!(loading$ | async)">(-)</span>
    </div>

    <!-- Device actions -->
    <a nz-button nzType="text" nzSize="large" (click)="openCreateDeviceForm()">
        <i nz-icon nzType="plus" class="text-blue-500"></i>
        Create
    </a>

    <app-device-table
        [deviceList]="(gateway$ | async)?.devices ?? []"
        [bordered]="true"
        [hasTitle]="false"
        [showActions]="true"
        [loading]="!!(loading$ | async)"
        (editRequested)="openEditDeviceForm($event)"
    ></app-device-table>
</nz-card>
